* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://github.com/ChristophGrothe/plants/blob/main/background.jpg?raw=true");
  height: 100em;
  width: auto;
}

img {
  border-radius: 1em;
}

header {
  background-color: darkgreen;
  opacity: 0.5;
  height: 8em;
  width: auto;
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  text-transform: uppercase;
}

li {
  list-style-type: none;
}

.li-logo {
  font-weight: 1000;
  font-size: 1.5em;
  color: lightgreen;
  margin-left: 1em;
}
.navbar {
  grid-column-start: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

main {
  margin: 2em;
  display: grid;
  grid-template: 1fr 0.2fr 1fr 0.4fr 0.25fr 1fr/ 1fr 1fr 1fr;
  justify-items: center;
}

h1 {
  grid-row-start: 1;
  grid-column-start: 2;
  z-index: 10;
  margin-top: 1.5em;
  color: white;
}

.spitpalm {
  grid-row-start: 1;
  grid-column-start: 2;
}

.offers {
  grid-row-start: 2;
  grid-column-start: 2;
  align-self: center;
  color: #007a00;
  font-size: 2.5em;
}

.h3-Geldbaum {
   grid-row-start: 3;
  grid-column-start: 1;
  justify-self: end;
  margin-top: 2.5em;
  font-size: 1.5em;
  color: #004900;
}

.Plüschpflanze {
  grid-row-start: 3;
  grid-column-start: 1;
  width: 100%;
  align-self: center;
  position: relative;
  left: 5em;
  z-index: -10;
}

.h3-Kaktus {
   grid-row-start: 3;
   grid-column-start: 2;
   margin-top: 0.5em;
   font-size: 1.5em;
   color: #004900;
}

.Warzenkaktus {
  grid-row-start: 3;
  grid-column-start: 2;
  position: relative;
  top: 3em;
  width: 50%;
  height: auto;
}

.h3-purpur {
  grid-row-start: 3;
  grid-column-start: 3;
  position: relative;
  right: 3.5em;
  margin-top: 2.75em;
  font-size: 1.5em;
   color: #004900;
}

.Purpur {
  grid-row-start: 3;
  grid-column-start: 3;
  width: 100%;
  height: auto;
 margin-top: 6.5em;
  position: relative;
  right: 5em;
}

.discount1 {
  grid-row-start: 3;
  grid-column-start: 1;
  font-size: 1.5em;
  justify-self: start;
  align-self: center;
}

.discount2 {
  grid-row-start: 3;
  grid-column-start: 2;
  font-size: 1.5em;
  align-self: center;
  margin-right: 17em;
}

.discount3 {
  grid-row-start: 3;
  grid-column-start: 3;
  font-size: 1.5em;
  justify-self: start;
  position: relative;
  right: 6em;
  align-self: center;
}


.old {
  text-decoration: line-through;
  font-size: 1em;
}

.new {
  font-size: 2em;
  font-weight:1000;
}

.color {
  color: white;
}


.tips {
  grid-row-start: 4;
  grid-column-start: 2;
  align-self: end;
  color: #00ff00;
  font-size: 2em;
}

.cuttings {
   grid-row-start: 5;
   grid-column-start: 2;
   font-size: 1.65em;
  margin-top: 0.5em;
  color: #007a00;
}

.different {
   grid-row-start: 5;
   grid-column-start: 2;
   margin-top: 3em;
  font-size: 1.25em;
  text-align: center;
}

.tribe {
   grid-row-start: 6;
   grid-column-start: 1; 
}

.img-tribe {
  width: 75%;
  height: auto;
  grid-row-start: 6;
   grid-column-start: 1; 
  margin-top: 2em;
}

.aerial\&succulents {
   grid-row-start: 6;
   grid-column-start: 2;
   display: flex;
  align-items: center;
}

.aerial {
  width: 100%;
  margin-left: 10%;
}

.succulents {
  width: 100%;
  margin-left: 10%;
  margin-bottom: 17.5%;
}

.img-aerial {
  width: 100%;
  height: auto;
}

.img-succulents {
  width: 100%;
  height: auto;
}

.h3-succulents {
  text-align: center;
  margin-bottom: 1em;
}

.h3-aerial {
  text-align: center;
  margin-bottom: 1em;
}
  

.cut-off {
  grid-row-start: 6;
   grid-column-start: 3; 
}

.pilea {
  width: 100%;
  height: auto;
  grid-row-start: 6;
   grid-column-start: 3; 
  margin-top: 15%;
  margin-left: 10%;
  
}

